In [1]:
import pandas as pd
import os
from scipy.stats import mannwhitneyu
import numpy as np
from scipy.stats import ttest_ind

In [2]:
#df = pd.read_csv("/kaggle/input/grocery-website-data-for-ab-test/grocerywebsiteabtestdata.csv")
#df.head()

In [3]:
print("–¢–µ–∫—É—â–∞—è —Ä–∞–±–æ—á–∞—è –¥–∏—Ä–µ–∫—Ç–æ—Ä–∏—è:", os.getcwd())

–¢–µ–∫—É—â–∞—è —Ä–∞–±–æ—á–∞—è –¥–∏—Ä–µ–∫—Ç–æ—Ä–∏—è: /Users/kseniiabogatenkova/AB_testing_kaggle

In [4]:
df = pd.read_csv("grocery.csv")  # –§–∞–π–ª –¥–æ–ª–∂–µ–Ω –±—ã—Ç—å –≤ —Ç–æ–π –∂–µ –¥–∏—Ä–µ–∫—Ç–æ—Ä–∏–∏

–°–º–æ—Ç—Ä–∏–º –∫–æ–ª–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ –∏ –∫–æ–ª–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç–æ–ª–±—Ü–æ–≤

In [5]:
df.shape

(184588, 5)

In [6]:
print(df["VisitPageFlag"].unique())  # –ü–æ—Å–º–æ—Ç—Ä–∏–º, –∫–∞–∫–∏–µ –µ—Å—Ç—å —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è
print(df["VisitPageFlag"].sum())  # –ü—Ä–æ–≤–µ—Ä–∏–º, –µ—Å—Ç—å –ª–∏ –≤–æ–æ–±—â–µ –Ω–µ–Ω—É–ª–µ–≤—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è

[0 1]
10740

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184588 entries, 0 to 184587
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   RecordID       184588 non-null  int64
 1   IP Address     184588 non-null  object
 2   LoggedInFlag   184588 non-null  int64
 3   ServerID       184588 non-null  int64
 4   VisitPageFlag  184588 non-null  int64
dtypes: int64(4), object(1)
memory usage: 7.0+ MB

–ü–æ—Å–º–æ—Ç—Ä–µ—Ç—å —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –ø–æ —Å–µ—Ä–≤–µ—Ä–∞–º:

In [8]:
print(df["ServerID"].value_counts())

ServerID
1    61591
3    61534
2    61463
Name: count, dtype: int64

–ü—Ä–æ–≤–µ—Ä–∏—Ç—å, —Ä–∞–∑–ª–∏—á–∞–µ—Ç—Å—è –ª–∏ –ø–æ–≤–µ–¥–µ–Ω–∏–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –Ω–∞ —Å–µ—Ä–≤–µ—Ä–∞—Ö

In [9]:
df.groupby("ServerID")["VisitPageFlag"].mean()

ServerID
1    0.067640
2    0.053300
3    0.053596
Name: VisitPageFlag, dtype: float64

–°–µ—Ä–≤–µ—Ä—ã 2 –∏ 3 –º–æ–≥—É—Ç –±—ã—Ç—å –æ–¥–∏–Ω–∞–∫–æ–≤—ã–º–∏, —Ç.–µ. –æ–Ω–∏ —Ä–∞–±–æ—Ç–∞—é—Ç –∫–∞–∫ –∑–µ—Ä–∫–∞–ª–∞ (–æ–±—Ä–∞–±–∞—Ç—ã–≤–∞—é—Ç –æ–¥–∏–Ω –∏ —Ç–æ—Ç –∂–µ –ø—Ä–æ–¥—É–∫—Ç).
–≠—Ç–æ –Ω—É–∂–Ω–æ –¥–ª—è —Å—Ç–∞–±–∏–ª—å–Ω–æ—Å—Ç–∏ —Ä–∞–±–æ—Ç—ã –∏ –±–∞–ª–∞–Ω—Å–∏—Ä–æ–≤–∫–∏ –Ω–∞–≥—Ä—É–∑–∫–∏.

–ù–µ –±—É–¥–µ–º –¥–µ–ª–∞—Ç—å –∏–Ω–¥–µ–∫—Å –≤ groupby(), –∏—Å–ø–æ–ª—å–∑—É–µ–º as_index=False, —á—Ç–æ–±—ã –ø—Ä–∏ –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–µ –æ–Ω —Å–∞–º –µ–≥–æ –Ω–µ —Å–æ–∑–¥–∞–≤–∞–ª:

In [10]:
df = df.groupby(["IP Address", "LoggedInFlag", "ServerID"], as_index=False)["VisitPageFlag"].sum().rename(columns={"VisitPageFlag": "VisitPageFlagSum"})

In [11]:
df.head()

  IP Address  LoggedInFlag  ServerID  VisitPageFlagSum
0  0.0.108.2             0         1                 0
1  0.0.109.6             1         1                 0
2  0.0.111.8             0         3                 0
3  0.0.160.9             1         2                 0
4  0.0.163.1             0         2                 0

In [12]:
# C–æ–∑–¥–∞—ë–º –±—É–ª–µ–≤—ã–π –º–∞—Å—Å–∏–≤ (True –¥–ª—è –Ω–µ–Ω—É–ª–µ–≤—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π, False –¥–ª—è –Ω—É–ª–µ–π)
df["VisitPageFlag"] = (df["VisitPageFlagSum"] != 0).astype(int)
df.head()

  IP Address  LoggedInFlag  ServerID  VisitPageFlagSum  VisitPageFlag
0  0.0.108.2             0         1                 0              0
1  0.0.109.6             1         1                 0              0
2  0.0.111.8             0         3                 0              0
3  0.0.160.9             1         2                 0              0
4  0.0.163.1             0         2                 0              0

Test (1) ‚Üí –ø–æ–ª—É—á–∞–µ—Ç –Ω–æ–≤—É—é —Ñ—É–Ω–∫—Ü–∏—é, –¥–∏–∑–∞–π–Ω –∏–ª–∏ –∏–∑–º–µ–Ω–µ–Ω–∏—è.  
Control (2, 3) ‚Üí –æ—Å—Ç–∞—ë—Ç—Å—è –Ω–∞ —Å—Ç–∞—Ä–æ–π –≤–µ—Ä—Å–∏–∏, —á—Ç–æ–±—ã —Å—Ä–∞–≤–Ω–∏—Ç—å —Ä–µ–∑—É–ª—å—Ç–∞—Ç.

–†–∞–∑–¥–µ–ª–∏–º –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –Ω–∞ —Ç–µ—Å—Ç–æ–≤—É—é (df_test) –∏ –∫–æ–Ω—Ç—Ä–æ–ª—å–Ω—É—é (df_control) –≥—Ä—É–ø–ø—ã, —Å–æ–∑–¥–∞–¥–∏–º –∏—Ö –∫–æ–ø–∏–∏ —Å –æ–±–Ω–æ–≤–ª—ë–Ω–Ω—ã–º–∏ –∏–Ω–¥–µ–∫—Å–∞–º–∏ –≤ –æ–¥–Ω–æ–º —Ü–∏–∫–ª–µ –¥–ª—è –æ–ø—Ç–∏–º–∏–∑–∞—Ü–∏–∏.

In [13]:
df['group'] = df['ServerID'].map({1: 'Test', 2: 'Control', 3: 'Control'})

groups = {group: df[df['group'] == group].reset_index(drop=True) for group in ['Control', 'Test']}

df_control = groups['Control']
df_test = groups['Test']

In [14]:
df_control.head()

  IP Address  LoggedInFlag  ServerID  VisitPageFlagSum  VisitPageFlag    group
0  0.0.111.8             0         3                 0              0  Control
1  0.0.160.9             1         2                 0              0  Control
2  0.0.163.1             0         2                 0              0  Control
3  0.0.178.9             1         2                 0              0  Control
4  0.0.185.4             1         3                 0              0  Control

In [15]:
df_test.head()

  IP Address  LoggedInFlag  ServerID  VisitPageFlagSum  VisitPageFlag group
0  0.0.108.2             0         1                 0              0  Test
1  0.0.109.6             1         1                 0              0  Test
2  0.0.169.1             1         1                 0              0  Test
3  0.0.181.9             0         1                 1              1  Test
4  0.0.195.5             1         1                 0              0  Test

In [16]:
df_control.describe().T # –¢—Ä–∞–Ω—Å–ø–æ–Ω–∏—Ä—É–µ–º, —á—Ç–æ–± –∫—Ä–∞—Å–∏–≤–æ –±—ã–ª–æ

                    count      mean       std  min  25%  50%  75%  max
LoggedInFlag      66460.0  0.503912  0.499988  0.0  0.0  1.0  1.0  1.0
ServerID          66460.0  2.500692  0.500003  2.0  2.0  3.0  3.0  3.0
VisitPageFlagSum  66460.0  0.098917  0.320759  0.0  0.0  0.0  0.0  3.0
VisitPageFlag     66460.0  0.092251  0.289382  0.0  0.0  0.0  0.0  1.0

In [17]:
df_test.describe().T

                    count      mean       std  min  25%  50%  75%  max
LoggedInFlag      33303.0  0.503258  0.499997  0.0  0.0  1.0  1.0  1.0
ServerID          33303.0  1.000000  0.000000  1.0  1.0  1.0  1.0  1.0
VisitPageFlagSum  33303.0  0.125094  0.359371  0.0  0.0  0.0  0.0  4.0
VisitPageFlag     33303.0  0.115515  0.319647  0.0  0.0  0.0  0.0  1.0

–ü–æ—Å—á–∏—Ç–∞–µ–º –æ–±—â–µ–µ —á–∏—Å–ª–æ –ø–æ—Å–µ—â–µ–Ω–∏–π –≤ –∫–æ–Ω—Ç—Ä–æ–ª—å–Ω–æ–π –≥—Ä—É–ø–ø–µ.
–°–∫–æ–ª—å–∫–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π —Å–æ–≤–µ—Ä—à–∏–ª–∏ —Ü–µ–ª–µ–≤–æ–µ –¥–µ–π—Å—Ç–≤–∏–µ (VisitPageFlag = 1).

In [18]:
control_sum_visit, control_visit_1 = df_control['VisitPageFlag'].agg(['count', lambda x: (x == 1).sum()])
print(f"Sum visit for control group: {control_sum_visit}")
print(f"Visit Page target = 1: {control_visit_1}")

Sum visit for control group: 66460
Visit Page target = 1: 6131

–ü–æ—Å—á–∏—Ç–∞–µ–º –∫–æ–Ω–≤–µ—Ä—Å–∏—é –≤ –∫–æ–Ω—Ç—Ä–æ–ª—å–Ω–æ–π –≥—Ä—É–ø–ø–µ:

In [19]:
control_ratio_visit = control_visit_1/control_sum_visit
control_ratio_visit

0.09225097803189888

–ü–æ—Å—á–∏—Ç–∞–µ–º –æ–±—â–µ–µ —á–∏—Å–ª–æ –ø–æ—Å–µ—â–µ–Ω–∏–π –≤ —Ç–µ—Å—Ç–æ–≤–æ–π –≥—Ä—É–ø–ø–µ.
–°–∫–æ–ª—å–∫–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π —Å–æ–≤–µ—Ä—à–∏–ª–∏ —Ü–µ–ª–µ–≤–æ–µ –¥–µ–π—Å—Ç–≤–∏–µ (VisitPageFlag = 1).

In [20]:
test_sum_visit, test_visit_1 = df_test['VisitPageFlag'].agg(['count', lambda x: (x == 1).sum()])
print(f"Sum visit for test group: {test_sum_visit}")
print(f"Visit Page target = 1: {test_visit_1}")

Sum visit for test group: 33303
Visit Page target = 1: 3847

In [21]:
test_ratio_visit = test_visit_1/test_sum_visit
test_ratio_visit

0.11551511875806984

–í—ã–ø–æ–ª–Ω–∏–º —Ç–µ—Å—Ç –®–∞–ø–∏—Ä–æ-–£–∏–ª–∫–∞ –Ω–∞ –Ω–æ—Ä–º–∞–ª—å–Ω–æ—Å—Ç—å —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–µ "VisitPageFlag" –∏–∑ –∫–æ–Ω—Ç—Ä–æ–ª—å–Ω–æ–π –≥—Ä—É–ø–ø—ã (df_control).
–ü–æ–¥—Å—á–∏—Ç–∞–µ–º test_stat –≤ —Ç–µ—Å—Ç–µ –®–∞–ø–∏—Ä–æ-–£–∏–ª–∫–∞, —á–∏—Å–ª–æ–≤–æ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å, –∫–æ—Ç–æ—Ä—ã–π –∏–∑–º–µ—Ä—è–µ—Ç, –Ω–∞—Å–∫–æ–ª—å–∫–æ —Å–∏–ª—å–Ω–æ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö –æ—Ç–∫–ª–æ–Ω—è–µ—Ç—Å—è –æ—Ç –Ω–æ—Ä–º–∞–ª—å–Ω–æ–≥–æ.

–ï—Å–ª–∏ test_stat –±–ª–∏–∑–æ–∫ –∫ 1 ‚Üí —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –ø–æ—á—Ç–∏ –Ω–æ—Ä–º–∞–ª—å–Ω–æ–µ.
–ï—Å–ª–∏ test_stat –∑–Ω–∞—á–∏—Ç–µ–ª—å–Ω–æ –º–µ–Ω—å—à–µ 1 ‚Üí –¥–∞–Ω–Ω—ã–µ —Å–∏–ª—å–Ω–æ –æ—Ç–∫–ª–æ–Ω—è—é—Ç—Å—è –æ—Ç –Ω–æ—Ä–º–∞–ª—å–Ω–æ–≥–æ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è.

In [22]:
from scipy.stats import shapiro

# –§—É–Ω–∫—Ü–∏—è –¥–ª—è —Ç–µ—Å—Ç–∞ –®–∞–ø–∏—Ä–æ-–£–∏–ª–∫–∞ –∏ –∏–Ω—Ç–µ—Ä–ø—Ä–µ—Ç–∞—Ü–∏–∏ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞
def check_normality(data, label="Dataset"):
    test_stat, pvalue = shapiro(data)
    print(f"{label}: Test Stat = {test_stat:.4f}, p-value = {pvalue:.4f}")
    print("‚úÖ –î–∞–Ω–Ω—ã–µ –Ω–æ—Ä–º–∞–ª—å–Ω–æ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω—ã." if pvalue > 0.05 else "‚ùå –î–∞–Ω–Ω—ã–µ –ù–ï —è–≤–ª—è—é—Ç—Å—è –Ω–æ—Ä–º–∞–ª—å–Ω–æ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª—ë–Ω–Ω—ã–º–∏.")
    print("-" * 50)

# –ü—Ä–æ–≤–µ—Ä—è–µ–º –æ–±–µ –≤—ã–±–æ—Ä–∫–∏
check_normality(df_control["VisitPageFlag"], "Control Group")
check_normality(df_test["VisitPageFlag"], "Test Group")

Control Group: Test Stat = 0.3266, p-value = 0.0000
‚ùå –î–∞–Ω–Ω—ã–µ –ù–ï —è–≤–ª—è—é—Ç—Å—è –Ω–æ—Ä–º–∞–ª—å–Ω–æ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª—ë–Ω–Ω—ã–º–∏.
--------------------------------------------------
Test Group: Test Stat = 0.3711, p-value = 0.0000
‚ùå –î–∞–Ω–Ω—ã–µ –ù–ï —è–≤–ª—è—é—Ç—Å—è –Ω–æ—Ä–º–∞–ª—å–Ω–æ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª—ë–Ω–Ω—ã–º–∏.
--------------------------------------------------

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/scipy/stats/_morestats.py:1882: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

–û–±–∞ –∑–Ω–∞—á–µ–Ω–∏—è Test Stat –∑–Ω–∞—á–∏—Ç–µ–ª—å–Ω–æ –º–µ–Ω—å—à–µ 1, —á—Ç–æ —É–∫–∞–∑—ã–≤–∞–µ—Ç –Ω–∞ —Å–∏–ª—å–Ω–æ–µ –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–µ –æ—Ç –Ω–æ—Ä–º–∞–ª—å–Ω–æ–≥–æ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è.

–ë—É–¥–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –Ω–µ–ø–∞—Ä–∞–º–µ—Ç—Ä–∏—á–µ—Å–∫–∏–µ —Ç–µ—Å—Ç—ã –≤–º–µ—Å—Ç–æ t-—Ç–µ—Å—Ç–∞ (–ú–∞–Ω–Ω–∞-–£–∏—Ç–Ω–∏).

In [23]:
# –§—É–Ω–∫—Ü–∏—è –¥–ª—è —Ç–µ—Å—Ç–∞ –ú–∞–Ω–Ω–∞-–£–∏—Ç–Ω–∏
def mann_whitney_test(group1, group2, label1="Control", label2="Test"):
    test_stat, pvalue = mannwhitneyu(group1, group2)
    print(f"üìä {label1} vs {label2}: Test Stat = {test_stat:.4f}, p-value = {pvalue:.4f}")

mann_whitney_test(df_control["VisitPageFlag"], df_test["VisitPageFlag"], "Control Group", "Test Group")

üìä Control Group vs Test Group: Test Stat = 1080913226.5000, p-value = 0.0000

–ò–Ω—Ç–µ—Ä–µ—Å–Ω–æ –≤—Å—ë –∂–µ –ø–æ–ø—Ä–æ–±–æ–≤–∞—Ç—å –ø—Ä–æ–≤–µ—Å—Ç–∏ –¢-—Ç–µ—Å—Ç:

In [24]:
# –í—ã–ø–æ–ª–Ω—è–µ–º t-—Ç–µ—Å—Ç –¥–ª—è –Ω–µ–∑–∞–≤–∏—Å–∏–º—ã—Ö –≤—ã–±–æ—Ä–æ–∫
test_stat, pvalue = ttest_ind(df_control["VisitPageFlag"], df_test["VisitPageFlag"], equal_var=False)
print(f"üìä T-test: Test Stat = {test_stat:.4f}, p-value = {pvalue:.4f}")

üìä T-test: Test Stat = -11.1825, p-value = 0.0000

–°–æ–∑–¥–∞–¥–∏–º –∫—Ä–æ—Å—Å-—Ç–∞–±–ª–∏—Ü—É

In [25]:
# –°–æ–∑–¥–∞–Ω–∏–µ –∫—Ä–æ—Å—Å-—Ç–∞–±–ª–∏—Ü—ã 
groupped = pd.crosstab(
    df['group'], df['VisitPageFlag'], margins=True, margins_name="Total"
)

In [26]:
# %
percent_distribution = 100 * groupped.div(groupped['Total'], axis=0)

percent_distribution

VisitPageFlag          0          1  Total
group
Control        90.774902   9.225098  100.0
Test           88.448488  11.551512  100.0
Total          89.998296  10.001704  100.0

### Control Group:  
90.77% –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –Ω–µ –≤—ã–ø–æ–ª–Ω–∏–ª–∏ –¥–µ–π—Å—Ç–≤–∏–µ (VisitPageFlag = 0).
9.23% –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –≤—ã–ø–æ–ª–Ω–∏–ª–∏ (VisitPageFlag = 1).

### Test Group:
88.45% –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –Ω–µ –≤—ã–ø–æ–ª–Ω–∏–ª–∏ –¥–µ–π—Å—Ç–≤–∏–µ.
11.55% –≤—ã–ø–æ–ª–Ω–∏–ª–∏.

### –û–±—â–∏–π –∏—Ç–æ–≥ (Total):

–í —Å—Ä–µ–¥–Ω–µ–º –ø–æ –≤—Å–µ–º –¥–∞–Ω–Ω—ã–º 89.99% –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –Ω–µ –ø–µ—Ä–µ—à–ª–∏.
10.00% –ø–µ—Ä–µ—à–ª–∏.

### –û —á–µ–º —ç—Ç–æ –≥–æ–≤–æ—Ä–∏—Ç?

**–í —Ç–µ—Å—Ç–æ–≤–æ–π –≥—Ä—É–ø–ø–µ –ø—Ä–æ—Ü–µ–Ω—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –≤—ã–ø–æ–ª–Ω–∏–≤—à–∏—Ö –¥–µ–π—Å—Ç–≤–∏–µ, –≤—ã—à–µ**

 –†–æ—Å—Ç —Å **9.23%** –¥–æ **11.55%**.
 –†–∞–∑–Ω–∏—Ü–∞ —Å–æ—Å—Ç–∞–≤–ª—è–µ—Ç:    
  `11.55% - 9.23% = 2.32%`.
  
 –û—Ç–Ω–æ—Å–∏—Ç–µ–ª—å–Ω–æ–µ —É–ª—É—á—à–µ–Ω–∏–µ (Uplift):   
  `11.55 - 9.23/9.23 * 100 = 25.1%`
 
  –≠—Ç–æ –æ–∑–Ω–∞—á–∞–µ—Ç, —á—Ç–æ —Ç–µ—Å—Ç–æ–≤–æ–µ –∏–∑–º–µ–Ω–µ–Ω–∏–µ —É–≤–µ–ª–∏—á–∏–ª–æ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ —Ü–µ–ª–µ–≤–æ–≥–æ –¥–µ–π—Å—Ç–≤–∏—è –Ω–∞ **~25.1%**.

**–¢–µ—Å—Ç–æ–≤—ã–µ –∏–∑–º–µ–Ω–µ–Ω–∏—è (–Ω–æ–≤—ã–π –≤–∞—Ä–∏–∞–Ω—Ç) –æ–∫–∞–∑–∞–ª–∏ –ø–æ–ª–æ–∂–∏—Ç–µ–ª—å–Ω–æ–µ –≤–ª–∏—è–Ω–∏–µ**

–†–∞–∑–Ω–∏—Ü–∞ –Ω–µ–±–æ–ª—å—à–∞—è, –Ω–æ –∑–Ω–∞—á–∏–º–∞—è (—Å—É–¥—è –ø–æ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞–º —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏—Ö —Ç–µ—Å—Ç–æ–≤).  
–ï—Å–ª–∏ —Ä–∞–∑–Ω–∏—Ü–∞ –ø–æ–¥—Ç–≤–µ—Ä–∂–¥–µ–Ω–∞ **–ú–∞–Ω–Ω–∞-–£–∏—Ç–Ω–∏** –∏ **t-—Ç–µ—Å—Ç–æ–º**, –º–æ–∂–Ω–æ –≥–æ–≤–æ—Ä–∏—Ç—å –æ —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏ –∑–Ω–∞—á–∏–º–æ–º —ç—Ñ—Ñ–µ–∫—Ç–µ.  

**–í–∞–∂–Ω–æ –æ—Ü–µ–Ω–∏—Ç—å –±–∏–∑–Ω–µ—Å-–∑–Ω–∞—á–∏–º–æ—Å—Ç—å**

–î–æ–ø—É—Å—Ç–∏–º `VisitPageFlag = 1` –æ–∑–Ω–∞—á–∞–µ—Ç –ø–æ–∫—É–ø–∫—É –∏–ª–∏ –∫–æ–Ω–≤–µ—Ä—Å–∏—é, —ç—Ç–æ –∑–Ω–∞—á–∏—Ç —á—Ç–æ **25% —Ä–æ—Å—Ç** ‚Äî —ç—Ç–æ —Ö–æ—Ä–æ—à–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç.  
–ù—É–∂–Ω–æ –æ—Ü–µ–Ω–∏—Ç—å **LTV (Lifetime Value)** –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, —á—Ç–æ–±—ã –ø–æ–Ω—è—Ç—å, –æ–∫—É–ø–∏—Ç—Å—è –ª–∏ –≤–Ω–µ–¥—Ä–µ–Ω–∏–µ –Ω–æ–≤–æ–≥–æ –≤–∞—Ä–∏–∞–Ω—Ç–∞.